
article{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mark{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 10px double rgb(47, 138, 222);
  margin: 30px;
  padding: 25px;
  font-family:Twinkle Star;
  color: rgb(44, 96, 186);
  background-color:rgb(163, 223, 244);
  box-shadow:rgb(135, 161, 173);
}

.new{
  display: flex;
  align-items: center;
  color: rgb(101, 170, 170);
  margin-right: 20px;
}
