nav {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 226, 195);
}

button {
    margin-left: 600px;
    border-radius: 10px;
    border-color: rgb(249, 243, 245);
    font-weight: 600;
}

.logo {
    margin-left: 30px;
}

img {
    width: 100px;
    height: auto;
}

h1 {
   
}

a {
    text-decoration: none;
    color: rgb(216, 23, 158);
    font-family: 'Preahvihear', sans-serif;
}

